#name{
    position: absolute;
    left: 10%;
    top: 10%;
     opacity: 0.4;
}
#submit{
    position: absolute;
    left: 10%;
    top: 15%;
}
#draggable { width: 250px; height: 250px; padding: 0.5em;
        position: absolute;
    left: 92px; top: 14px;
    opacity: 1.0;
}
.draggable { width: 150px; height: 150px; padding: 0.5em;
        position: absolute;
    left: 292px; top: 54px;
    opacity: 1.0;
}
#chatmonitor {
    padding:10px;
    position:relative;
    /*left: 60%;*/
    width:100%;
    height: 55%;
    background:#ddd;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:5px; overflow-y: scroll;
    /*user-select: auto;*/
    border:1px solid #CCC; /*margin-bottom:10px;*/
}

.msg{
    /*user-select: auto;*/
}
