#name{
    position: absolute;
    left: 10%;
    top: 10%;
     opacity: 0.4;
}
#submit{
    position: absolute;
    left: 10%;
    top: 15%;
}
.loginwindow{
    position:absolute;
    top: 30%;
    left: 30%;
    color: #000;
    font-weight: 100;
    /*border: 1px solid Black;*/
    text-align: left;

}
#nameinput{
    margin-left:10px;
    width:80%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 200%;
    font-weight: 100;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
    font-family: "Telefon Black", Sans-Serif;
    /*font-size: 6rem;*/
    font-weight: bold;
}
#draggable { width: 250px; height: 250px; padding: 0.5em;
        position: absolute;
    left: 5%; top: 5%;
    opacity: 0.4;
}
.draggable {  padding: 0.5em;
    left: 10%; top: 54px;
    opacity: 0.4;
}
.windowobject{
  opacity: 0.8;
  background: #2C3E50;
}
#chatwindow {
    position: absolute;
    width: 50%; height: 30%;
    left: 40%; top: 5%;
    box-shadow: rgba(0,0,0,0.6) 0px 0px 8px;
    border: 2px solid #6898DD;
}
#chatmonitor {
    padding:10px;
    position:relative;

    width:98%;
    height: 80%;
    background:#ddd;
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:5px; overflow-y: scroll;
    /*user-select: auto;*/
    border:1px solid #CCC; /*margin-bottom:10px;*/
    background: #2C3E50;
    font-size: 200%;
    font-family: "Telefon Black", Sans-Serif;
    color: #000;
    /*font-size: 6rem;*/
    font-weight: bold;
}
#chatinput{
    margin-left:10px;
    width:98%;
}
#chatsendbutton{
margin-left:10px;
}
.chat{
    /*float: left;*/
    font-weight: 700;
    /*overflow: hidden;*/
    padding-right: 15px;
    /*text-align: right;*/
}
.msg{
    position: absolute;
    left: 20%;
    top: 55%;
    width:30%;
    height: 10%;
    /*user-select: auto;*/
}

/* Input */

.inputchat {
  border: 10px solid #000;
  /*bottom: 0;*/
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  /*position: absolute;*/
  right: 0;
  width: 100%;
}
#gamelist {
    position: absolute;
    border-bottom: 1px solid #34495E;
    color: #1ABC9C;
    font-size: 16px;
    /*background-color: #275494;*/
    border: 2px solid #6898DD;
    font-weight: bold;
    box-shadow: rgba(0,0,0,0.6) 0px 0px 8px;
    overflow: auto;
    top: 120px;
    /*bottom: 6px;*/
    left: 60px;
    opacity: 0.8;
}
.ui-selected { background: #F39814; color: white; }
/*ol .ui-widget-content {
  background: #2C3E50;
    border: 1px solid #ddd;
}*/
.tabBodyOptions {
  /*background: #2C3E50;*/
    font-weight: bold;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: #1ABC9C;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
/*.ui-selecting { background: #FECA40; }*/


ol{
  list-style: none;
  margin: 0;
  padding: 0;
}
li.active {
  color: #AA0000;
}
h4{
  display: block;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: normal;
}

#gameplayerlist {
    position: absolute;
    border-bottom: 1px solid #34495E;
    color: #1ABC9C;
    font-size: 16px;
    /*background-color: #275494;*/
    border: 2px solid #6898DD;
    font-weight: bold;
    width:40%;
    height:40%;
    box-shadow: rgba(0,0,0,0.6) 0px 0px 8px;
    overflow: auto;
    top: 10%;
    /*bottom: 6px;*/
    left: 10%;
    opacity: 0.8;
}
#gamestartbutton{
  position: absolute;
  bottom: 20%;
  right: 20%;
}
#gamebackbutton{
  position: absolute;
  bottom: 10%;
  right: 20%;
}
/*#selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }*/

/*label{
  background: #34495E;
  height: 69px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #2C3E50;
  color: #fff;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 11px;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  padding: 5px 5px 5px 70px;
}
*/
